@import "../../../styles/index";

.heading3 {
  font-size: 28px;
  font-weight: 800;
  font-style: italic;
  line-height: 38px;
  letter-spacing: -0.02em;
}

.bodySmall {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.01em;
}

.bodyMedium {
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.01em;
}

.bodyLarge {
  font-size: 18px;
  line-height: 28px;
}

.greyLight {
  color: $grey-light;
}

.grey {
  color: $grey;
}

.block {
  display: block;
}
