$family-primary: "Open Sans", Helvetica, Arial, sans-serif;

$spacing-unit: 6px;

$grey-light: #A8B5B4;
$grey: #5E6A69;
$black: #2C3333;
$green: #75B634;
$green-dark: #5D9732;
$white: #ffffff;

$tablet: 769px;
$desktop: 1024px;
